@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import './base/base.css';
@import './components/components.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './custom.css'


:root {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}
body {
  margin: 0;
  line-height: 1.5rem;
}

*{
  margin: 0;
}
*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

*, :after, :before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  /* --tw-gradient-to-position: ; */
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59,130,246,.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}


body {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    font-family: Maven Pro, sans-serif;
    font-weight: 400;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(85 85 85 / var(--tw-text-opacity));
    
}


body {
  --tw-bg-opacity: 1;
  /* background-color: rgb(255 255 255 / var(--tw-bg-opacity)); */
  font-family: Maven Pro, sans-serif;
  font-weight: 400;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(85 85 85 / var(--tw-text-opacity));
}

audio, canvas, embed, iframe, img, object, svg, video {
  display: block;
  vertical-align: middle;
}



.link-animation {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fcf5de, #000);
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .4s cubic-bezier(.42,0,.36,.96);
}
.link-animation:hover {
  background-size: 100% 2px;
}



.btn-outline-primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.btn-primary:hover {
  --tw-bg-opacity: 0.8;
}
@layer components {
  .header .nav-dropdown-link,
  .header .nav-link,
  .header a:not(.btn) {
    font-size: 15px;
  }
}
@layer components {
  .custom-bg-opacity {
    --tw-bg-opacity: 1;
    background-color: rgba(115, 177, 255, var(--tw-bg-opacity));
  }
  
  .custom-content {
    content: var(--tw-content);
    --tw-content: "";
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (min-width: 768px) {
  .h2, h2 {
      font-size: 2.28886641rem;
  }
}

/* body {
  --dot-bg: #ffffff;
  --dot-color: #000000;
  --dot-size: 1px;
  --dot-space: 50px;
  --dot-z-index: 50;
  background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
  
} */



.feature.triangle-up::after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(244 253 255 / var(--tw-bg-opacity));
  content: "";
}

.feature.triangle-down:after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(244 253 255 / var(--tw-bg-opacity));
  --tw-content: "";
  content: var(--tw-content);
}

.widget-title {
  margin-bottom: 1rem;
  font-family: Maven Pro, sans-serif;
  font-size: 18px;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}



.nav-link {
  display: block;
  padding: .5rem 1rem;
  text-align: center;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}

.team {
  padding: 60px 0;
}
.teamMember {
  margin: 20px;
}
.teamMember img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.teamMember h3 {
  font-size: 1.25rem;
  font-weight: 600;
}



